mixin button({isColored,isBordered,isTextButton,isArrowButton,isHeaderButton,size,isTextColored,title,className})

    -
        const buttonClassName = [
            "button",
            isColored ? "button_colored" : null,
            isBordered ? "button_bordered": null,
            isTextButton ? "button_type-text": null,
            isArrowButton ? "button_type-arrow": null,
            isHeaderButton ? "button_type-header": null,
            size ? `button_size-${size}`: null,
            className ? `${className}`: null,
        ].filter(className => className !== null).join(" ");

        const buttonTextClassName =[
            "button__text",
            isTextColored ? "button__text_colored": null,
            !size ? "button__text_header":null,
        ].filter(className => className !== null).join(" ");

        //- const button_login_title="login"
        //- const button_register_title="register"

    if !isArrowButton 
        button(class=`${buttonClassName}` class!=attributes.class type="button")
            h3(class=buttonTextClassName) #{title}
    else  
        button(class=`${buttonClassName}` class!=attributes.class type="button")
            h3(class=buttonTextClassName) #{title} 
            +arrow({isShaded:true})    