mixin button(options)
    -
        var buttonClassName = "button"
        buttonClassName += options.isColored ? " button_colored": ""
        buttonClassName += options.isBordered ? " button_bordered": ""
        buttonClassName += options.isTextButton ? " button_type-text": ""
        buttonClassName += options.isArrowButton ? " button_type-arrow": ""
        buttonClassName += options.isHeaderButton ? " button_type-header": ""
        buttonClassName += options.size ? ` button_size-${options.size}`: ""
        var buttonTextClassName = "button__text"
        buttonTextClassName +=options.isTextColored? " button__text_colored": ""
        buttonTextClassName +=!options.size? " button__text_header": ""
    if !options.isArrowButton 
        button(class=`${buttonClassName}`)
            h3(class=buttonTextClassName) #{options.title}
    else  
        button(class=`${buttonClassName}`)
            h3(class=buttonTextClassName) #{options.title} 
            +arrow({isShaded:true})
        