mixin button({isColored,isBordered,isTextButton,isArrowButton,isHeaderButton,size,isTextColored,title})

    -
        const buttonClassName = [
            "button",
            isColored ? "button_colored" : null,
            isBordered ? "button_bordered": null,
            isTextButton ? "button_type-text": null,
            isArrowButton ? "button_type-arrow": null,
            isHeaderButton ? "button_type-header": null,
            size ? `button_size-${size}`: null,
        ].filter(className => className !== null).join(" ");

        const buttonTextClassName =[
            "button__text",
            isTextColored ? "button__text_colored": null,
            !size ? "button__text_header":null,
        ].filter(className => className !== null).join(" ");

        
        //var buttonClassName = "button"
        //buttonClassName += isColored ? " button_colored": ""
        //buttonClassName += isBordered ? " button_bordered": ""
        //buttonClassName += isTextButton ? " button_type-text": ""
        //buttonClassName += isArrowButton ? " button_type-arrow": ""
        //buttonClassName += isHeaderButton ? " button_type-header": ""
        //buttonClassName += size ? ` button_size-${size}`: ""
        //var buttonTextClassName = "button__text"
        //buttonTextClassName +=isTextColored? " button__text_colored": ""
        //buttonTextClassName +=!size? " button__text_header": ""

    if !isArrowButton 
        button(class=`${buttonClassName}`)
            h3(class=buttonTextClassName) #{title}
    else  
        button(class=`${buttonClassName}`)
            h3(class=buttonTextClassName) #{title} 
            +arrow({isShaded:true})
        