//h3 по умолчанию будет включен в select-item, если вдруг заголовок не нужен, передаем пустой ""
mixin select-item(title, item_size, text, select_type, container)
    //здесь выбор доп класса с контейнером сделать как в логотипе,если есть
    div(class=`select-item select-item_${item_size} ${container}__select-item_${type}`)
        h3(class="select-item__title")(сlass!=attributes.class) #{title}
        div(class="select-item__wrap")
                select(class=`select-item__select select__${select_type}` )
                    option(class="select-item__option") #{text}