include ../logo/logo.pug
include ../textField/textField.pug
include ../arrow/arrow.pug
include ../social/social.pug
-
    //- дефолтные аргументы
    const WIDGET_DESC ={text:"Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."}
    const WIDGET_ITEM = {TYPE:"standart",
                        ITEMS:[{TITLE:"navigation",
                         LINKS:[{NAME:"about us",HREF:"#"},
                                {NAME:"news",HREF:"#"},
                                {NAME:"support",HREF:"#"},
                                {NAME:"products",HREF:"#"}]},
                          {TITLE:"about us",
                           LINKS:[{NAME:"who we are",HREF:"#"},
                                {NAME:"our team",HREF:"#"},
                                {NAME:"careers",HREF:"#"},
                                {NAME:"investors",HREF:"#"}]},
                          {TITLE:"support",
                           LINKS:[ {NAME:"documentation",HREF:"#"},
                                    {NAME:"community",HREF:"#"},
                                    {NAME:"get in touch",HREF:"#"}]}]}

    const WIDGET_SUBSCRIBE={TITLE:"Subscribe to our newsletter",
                            TEXT:"Receive our latest news and promotions in your inbox!",
                            PLACEHOLDER:"Your email address"}  
    
    const WIDGET_COPYRIGHT={TEXT1:"Copyright ",
                            TEXT2:" 2018 Toxin UI Kit. All rights reserved."} 

mixin footer({isCreative,})
    if !isCreative
        footer(class="footer")
            section(class="footer__item footer__widget")
                div(class="widget__logo widget")
                    +logo()
                    p(class="widget__desc footer__text") #{WIDGET_DESC.text}
                div(class="widget__wrap")
                    - for (var i = 0; i < WIDGET_ITEM.ITEMS.length; i++)
                        div(class=` widget__group widget`)
                            span(class="widget__title") #{WIDGET_ITEM.ITEMS[i].TITLE}
                            for item in WIDGET_ITEM.ITEMS[i].LINKS
                                a(class="widget__link footer__text footer__text_link" href=`${item.HREF}`) #{item.NAME}
                div(class="widget__subscribe widget")
                    span(class="widget__title") #{WIDGET_SUBSCRIBE.TITLE}
                    p(class="widget__desc footer__text") #{WIDGET_SUBSCRIBE.TEXT} 
                    +textField("medium","text","Email","arrow")      
            section(class="footer__item footer__copyright copyright") 
                span(class="footer__text footer__text_copyright") #{WIDGET_COPYRIGHT.TEXT1}&#169;#{WIDGET_COPYRIGHT.TEXT2}           
                +social()
    else
        footer(class="footer footer_creative")  
            section(class="footer__item_creative creative")
                +logo()
                p(class="footer__text") #{WIDGET_DESC.text}
                +social()   