//- будет принимать 1)картинки-массив 2) люкс(класс номера)
//- 3) оценку=звезды 4) количество отзывов
mixin room-card({number,lux,price,rate})
    -
        const amountItem=4

    div(class="glide room-card__slider")
        div(data-glide-el="track" class="glide__track")
            ul(class="glide__slides slider__slides")
                - for (let i=1;i<=amountItem;i++) 
                    li(class="glide__slide slider__frame" data-background=`img_${number}_${i}`)
                        img( class="glide__img" src=`src/components/room-card/img/${number}/img_${number}_${i}.jpg`)
        div(class="glide__arrows" data-glide-el="controls")
            button(class="glide__arrow glide__arrow--left" data-glide-dir="<") 
            button(class="glide__arrow glide__arrow--right" data-glide-dir=">") 
        div(class="glide__bullets" data-glide-el="controls[nav]")
            - for (let i=1;i<=amountItem;i++)
                button(class="glide__bullet" data-glide-dir=`=${i}`)
    div(class="room-card__descriprion-section")
        div(class="descriprion-section__base")
            span(class="descriprion-section__name")
            span(class="descriprion-section__price")
        div(class="descriprion-section__rating")
            rate-button()
            span(class="descriprion-section__review")
                 
        
