
include ../../../components/logo-icon/logo-icon.pug

-
    const CT_COLORS = [
        {COLOR:"dark",NAME:"Dark Shade 100%" ,TEXT:"#1F2041"},
        {COLOR:"dark-75",NAME:"Dark Shade 75%",TEXT:"#1F2041"},
        {COLOR:"dark-50",NAME:"Dark Shade 50%",TEXT:"#1F2041"},
        {COLOR:"dark-25",NAME:"Dark Shade 25%",TEXT:"#1F2041"},
        {COLOR:"dark-5",NAME:"Dark Shade 5%",TEXT:"#1F2041"},
        {COLOR:"purple",NAME:"Purple",TEXT:"#BC9CFF"},
        {COLOR:"green",NAME:"Green",TEXT:"#6FCF97"}
    ]

    const CT_TYPE = [
        {NAME:"h1" ,TEXT:"This one is the sub-section or widget title"},
        {NAME:"h2" ,TEXT:"Next one is the item title inside widgets"},
        {NAME:"h3" ,TEXT:"This is a label or CTA text"},
        {NAME:"body" ,TEXT:"This is the body text which is used for most of the design, like paragraphs, lists, etc."}  
    ]
    
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            colorsType 
    body
        div(class="colorstype")
            +logo-icon({isColored:false})
            div(class="colorstype__wrap_left")
                - for (var i = 0; i < CT_COLORS.length; i++)
                    div(class="colors")
                        div(class=`colors__block colors__block_${CT_COLORS[i].COLOR}`)
                        text(class="colors__text")
                            span(class="colors__name") #{CT_COLORS[i].NAME}
                            span(class="colors__desc") #{CT_COLORS[i].TEXT}  
            div(class="colorstype__wrap_right")
                 - for (var i = 0; i < CT_TYPE.length; i++)
                    div(class=`type__text type__text_${CT_TYPE[i].NAME}`)
                            span(class=`type__name type__name_${CT_TYPE[i].NAME}`) #{CT_TYPE[i].NAME}
                            span(class=`type__desc type__desc_${CT_TYPE[i].NAME}`) #{CT_TYPE[i].TEXT}

                                